<form [formGroup]="adventureForm" (ngSubmit)="onSubmit()">
  <div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <button type="submit" class="btn btn-success" [disabled]="!adventureForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="content-block">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" formControlName="description" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="experience_gain">Experience</label>
          <input type="text" id="experience_gain" formControlName="experience_gain" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <!--<div class="form-group">-->
        <label>Character</label>
        <select [(ngModel)]="adventureCharacter" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)">
          <option *ngFor="let advEl of characters" [ngValue]="advEl"> {{advEl.name}} </option>
        </select>
        <!--<select id="race" formControlName="race" class="form-control" (change)="onSelect($event.target.value)">-->
        <!--<option *ngFor="let raceEl of races" [value]="raceEl['_id']">{{raceEl.name}}</option>-->
        <!--</select>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</form>
